* {
  font-family: proxima-nova, sans-serif;
}

#outermost-card {
  margin: 0px 0px 30px 0px;
  color: rgb(0, 0, 0);
  width: 470px;
  height: fit-content;
  /* background-color: #ffffff; */
  background-color: white;
  /* background-color: #3f3f3f; */
  /* padding: 17px; */
  /* border-top-left-radius: 8px;
  border-top-right-radius: 8px; */
  border-radius: 8px;
  border: .75px solid rgba(128, 128, 128, 0.54);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


#postcard-image {
  display: block;
  width: 100%;
  min-width: 470px;
  height: auto;
}

.comment-section {
  max-height: 444px;
  width: 100%;
  /* border: 1px solid purple; */
  /* background-color: #3f3f3f; */
  overflow-y: scroll;
  margin-left: 15px;
  padding-bottom: 5px;
}

.view-comments{
  font-size: 14.5px;
  color: rgb(143, 143, 143);
}

.comment {
  height: 10%;
  padding: 2%;
  margin: 2%;
  background-color: #ffff;
  color: black;
}

.comment-button {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* margin: 10px 0px; */
  border-radius: 11px;
  padding: 5px;
  border: none;
}

.post-caption {
  width: 100%;
  font-size: 14.5px;
  padding-top: 0px;
  padding-bottom: 3px;
  padding-left: 15px;
  padding-right: 17px;
  word-wrap: break-word;
  font-weight: 300;
  /* border: 1px solid greenyellow; */
}

.like-count {
  margin-top: 1px;
  margin-bottom: 3px;
  font-size: 16px;
  font-weight: bold;
  margin-left: 15px;
  /* width: fit-content; */
  display: flex;
  justify-content: flex-start;
}

.post-date {
  font-size: 10px;
  color: #a4a4a4;
  padding-left: 17px;
  padding-top: 5px;
  padding-bottom: 12px;
  /* border: 1px solid aqua; */
}

.create-comment-container:first-child {
  /* background-color: #3f3f3f; */
  width: 660px;
  border-top: 1px solid grey;
}

.create-comment-container{
  /* background-color: #3f3f3f; */
  width: 100%;
  min-height: fit-content;
  /* border-top: .5px solid grey; */
  /* padding-top: 18px; */
}

.edit-post-container {
  position: relative;
  display: flex;
}

.edit-post-button-container {
  /* border: 1px solid purple; */
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  align-self: center;
  justify-content: center;
  /* position: absolute; */
}

.edit-post-button {
  position: relative;
  font-size: 22px;
  font-weight: bold;
  color: black;
  background-color: transparent;
  border: none;
  /* float: "right" */
}

.edit-post-button:hover{
  cursor: pointer;
}

#post-edit-btn-img {
  background-image: url('../../../../images/edit.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
}

.post-edit-delete {
  width: 100%;
  /* border: 1px solid purple; */
  display: flex;
  justify-content: flex-end;
}

#post-delete-btn-img {
  background-image: url('../../../../images/delete.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
}

.post-btns {
  background-color: transparent;
  /* margin: 11px 12px; */
}

.post-username {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 6px;
  font-weight: 600;
  /* border: 1px solid blue; */
}

.post-username-name{
  margin-left: 22px;
}

.post-head-container {
  /* border: .1px solid orange; */
  display: flex;
  height: 56.5px;
  width: 100%;
  /* flex-direction: row; */
  justify-content: space-between;
}

.show-more {
  /* margin-top: 4px; */
  background-color: transparent;
  color: rgb(163, 163, 163);
  font-size: 14.5px;
  font-weight: 400;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 6px;
}

.show-more:hover {
  cursor: pointer;
}

#post-form-container {
  width: 100%;
}

.comment-btns {
  /* border: 1px solid orange; */
  color: black;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 15px;
}

#comment-btn {
  background-image: url('../../../../images/chat-balloon.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

#heart-btn {
  background-image: url('../../../../images/heart.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

#filled-heart-btn {
  background-image: url('../../../../images/filled-heart-red.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

::-webkit-scrollbar {
  width: 0;
}

.explore-caption {
  padding: 11px;
}

.post-pfp {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.username-caption-container {
  position: relative;
  /* display: flex; */
}

.post-username-2 {
  display: flex;
  font-size: 14.5px;
  /* justify-content: center;
  align-items: center; */
  /* margin-left: 10px; */
  font-weight: 600;
  /* border: 1px solid blue; */
  margin-left: 15px;
  padding-right: 3px;
  float: left;
}
