.top-section-container{
  /* border: 1px solid rgba(255, 166, 0, 0.219); */
  border-bottom: 0px;
  width: 100%;
  height: 225px;
  display: flex;
  justify-content: center;
}

.top-section{
  /* border: 1px solid rgba(0, 0, 255, 0.177); */
  display: flex;
  justify-content: flex-start;
  margin: 0px 20px;
  border-top: 0px;
  border-bottom: 1px solid rgba(182, 182, 182, 0.456);
  height: 100%;
  max-width: 930px;
  width: 930px;
}

.pfp-profile-page-container{
  padding-top: 29px;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 225px;
  margin-left: 30px;
  margin-right: 62px;
}

.pfp-profile-page{
  height: 150px;
  width: 150px;
  border-radius: 75px;
}

.info-section-profile-page{
  /* border: 1px solid aqua; */
  height: 150px;
  margin-top: 30px;
}

.name-and-btns-profile-page-container{
  /* border: 1px solid orange; */
  display: flex;
}

.name-profile-page{
  /* border: 1px solid seagreen; */
  font-size: 28.5px;
  font-weight: 400;
  margin-bottom: 17px;
}

.btns-profile-page{
  /* border: 1px solid red; */
  margin-left: 27px;
  margin-top: 5px;
}

.numbers-profile-page-container{
  /* border: 1px solid yellowgreen; */
  display: flex;
  justify-content: flex-start;
}

.profile-number{
  font-weight: 600;
}

.metric{
  margin-right: 40px;
  font-size: 17px;
}

.user-full-name-profile-page{
  font-weight: bold;
  font-size: 17px;
  margin-top: 19px;
}

.second-section-container{
  border: 1px solid rgba(255, 166, 0, 0.219);
  width: 100%;
  height: 225px;
  display: flex;
  justify-content: center;
}

.suggestions-box-pfp{
  height: 100%;
  max-width: 930px;
  width: 930px;
}

.second-and-a-half-section{
  height: 52px;
}

.third-section-container{
  display: flex;
  justify-content: center;
}

.third-section{
  max-width: 933px;
  width: 933px;
  margin: 0px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
}

.no-posts-container{
  /* border: 1px solid purple; */
  background-color: white;
  width: 933px;
  height: 380px;
  display: flex;
  border-radius: 5px;
}

.no-posts-image{
  background-image: url('../../../images/no-posts-yet.png');
  width: 380px;
  height: 380px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.no-posts-text-container{
  /* border: 1px solid orange; */
  width: 553px;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-posts-button-and-text-container{
  /* border: 1px solid blue; */
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-posts-bold-text{
  font-size: 19.5px;
  font-weight: 600;
  margin-bottom: 1px;
}

.no-posts-normal-text{
  font-size: 17px;
  margin-bottom: 21px;
}

.no-posts-form-container-4 {
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  gap: 6px;
  height: 40px;
  width: 100%;
}

.no-posts-store-links {
  width: 136px;
}

.no-posts-yet-others-image{
  background-image: url('../../../images/no-posts-yet-others.png');
  width: 62px;
  height: 62px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 60px;
  margin-bottom: 22.5px;
}

.no-posts-yet-others-text{
  font-size: 28.5px;
  font-weight: 300;
}

.user-bio-profile-page{
  width: 600px;
  word-wrap: break-word;
}

.no-posts-yet-others-container{
  width: 933px;
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
