.comment-container {
  /* border: 1px solid grey; */
  position: relative;
  line-height: 1.55;
}

.comment-dropdown {
  /* border: 1px solid green; */
  position: relative;
  margin-top: 6px;
}

.comment-username-and-content-container{
  width: 100%;
  display: flex;
  font-size: 14px;
}

.comment-comment {
  margin-left: 4px;
}

.comment-and-button-container {
  /* border: 1px solid blue; */
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  max-width: 100%;
}

.comment-container-container {
  /* border: 1px solid orange; */
  position: relative;
  float: left;
  width: fit-content;
  max-width: 88%;
}

.comment-menu-button {
  /* border: 1px solid green */
  width: 50px;
}

.inner-comment-dd {
  position: absolute;
  float: right;
  margin-left: 6px ;
  margin-top: 0;
  top: 0;
  right: 5px;
}

.comment-username {
  font-weight: 600;
}

.no-comment-message {
  color: white;
  font-size: 30px;
}
