.signup-entire-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid greenyellow; */
  /* height: 100vh; */
}

#login-header {
  font-weight: 800;
  color: black;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  /* border: 1px solid red; */
}

.form-and-img-container {
  display: flex;
  justify-content: center;
  gap: 14px;
  /* border: 1px solid blue; */
  width: 815px;
  /* height: 565px; */
  margin-top: 55px;
  margin-bottom: 75px;
  /* padding: 10px; */
}

.img-container {
  position: relative;
  /* border: 1px solid seagreen; */
  width: 47%;
  height: 98%;
}

.phone-image {
  /* border: 1px solid aqua; */
  /* position: absolute; */
  width: 100%;
  z-index: -1;
}

.crossfade-container {
  position: absolute;
  top: 23px;
  right: 19px;
  z-index: -1;
}


.signup-logo-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid magenta; */
  height: 112px;
  width: 350px;
}

.signup-logo {
  /* border: 1px solid orange; */
  display: flex;
  justify-content: center;
  height: 73px;
  width: 160px;
  background-image: url('../../../images/Bobogram-No-Fish-Logo.png');
  background-size: contain;
  margin-top: 34px;
}

.signup-logo:hover {
  background-image: url('../../../images/Bobogram-Fish-Logo.png');
}

.complete-form-container {
  /* border: 1px solid pink; */
  margin: 15px;
  height: fit-content;
  width: 350px;
}

.main-form-container {
  border: 1px solid rgba(158, 158, 158, 0.532);
  margin-bottom: 10px;
  height: fit-content;
  width: 100%;
  background-color: white;
}

.form-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  width: 100%;
  /* border: 1px solid orange; */
  border: 1px solid rgba(158, 158, 158, 0.532);
  background-color: white;
  font-size: 16px;
}

.signup-download-link-box{
  border: 1px solid rgba(158, 158, 158, 0.532);
  font-size: 15px;
  width: 350px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 100%;
  /* border: 1px solid purple; */
  font-size: 15px;
  margin-top: 21px;
}

.form-container-4 {
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 40px;
  width: 100%;
  margin-top: 21px;
  /* border: 1px solid green; */
}

.little-footer {
  display: flex;
  /* border: 1px solid purple; */
  width: 100%;
  height: 100%;
  bottom: 0;
}

.store-links {
  width: 135px;
}

.login-fields-and-btns {
  /* border: 1px solid hotpink; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-first-header{
  /* border: 1px solid blue; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.signup-first-header-text{
  /* border: 1px solid hotpink; */
  color: grey;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 270px;
  height: fit-content;
  margin-top: 110px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 10px;
}

.signup-fields {
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  /* margin-top: 34px; */
}

.login-input-box {
  height: 38px;
  width: 270px;
  padding: 10px;
  border-radius: 2px;
  border: .5px solid rgba(110, 110, 110, 0.532);
  background-color: #fafafa;
  margin-bottom: 6px;
}

.login-input-box:focus {
  height: 38px;
  width: 270px;
  padding: 10px;
  border-radius: 2px;
  border: none;
  outline-color: rgba(81, 81, 81, 0.532);
  outline-width: 1px;
  outline-style: solid
}

.signup-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 15px;
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 38px;
  height: 30px;
  width: 270px;
  border-radius: 4px;
  border: none;
  background-color: #3195ff;
  font-kerning: 6px;
}

.signup-button:hover {
  cursor: pointer;
}

.signup-button-disabled {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 15px;
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 38px;
  height: 30px;
  width: 270px;
  border-radius: 4px;
  border: none;
  background-color: #2e9aff48;
  font-kerning: 6px;
}

.password-input-container {
  display: flex;
  justify-content: center;
  /* align-self: center; */
  position: relative;
  /* border: 1px solid greenyellow; */
  width: 270px;
}

.show-password-btn {
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  right: 10px;
  bottom: 13px;
}

.show-password-btn:hover {
  cursor: pointer;
}

.signup-or-lines {
  font-size: 12px;
  margin-top: 13px;
  margin-bottom: 17px;
  color: rgba(165, 165, 165, 0.532);
  width: 270px;
}

#signup-or-word {
  font-weight: 600;
  font-size: 14px;
  margin: 0px 15px;
  padding-top: 10px;
  color: rgba(118, 118, 118, 0.532);
}

.login-input-label {
  margin-top: 8px;
  margin-bottom: 4px;
  font-size: 16px;
}

#signup-reroute {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: #3195ff;
}

#signup-first-text{
  color: grey;
  font-size: 12.7px;
  width: 270px;
  text-align: center;
  margin-top: 10.5px;
  line-height: 1.25;
}

#signup-second-text{
  color: grey;
  font-size: 12.7px;
  width: 250px;
  text-align: center;
  margin-top: 16px;
  line-height: 1.3;
  margin-bottom:9px
}

.signup-text-bold{
  font-weight: 600;
}
