.user-edit-entire-page{
  display: flex;
  justify-content: center;
}

.user-edit-form-and-sidebar-container{
  display: flex;
  border: 1px solid orange;
  margin-top: 30px;
  width: 935px;
  height: 868px;
}

.user-edit-sidebar{
  border-right: 1px solid grey;
  width: 25.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.sidebar-list-item{
  margin-left: 30px;
  margin-top: 14px;
  margin-bottom: 13px;
  font-size: 16px;
}

.user-edit-form{
  /* border: 1px solid rgb(140, 0, 255); */
  width: 698px;
  height: 100%;
  float: right;
}

.change-profile-button{
  color: #3195ff;
  font-weight: 600;
  font-size: 15px;
  background: transparentd;
}

.form-container{
  border: 1px solid blue;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.user-form-input{
  height: 33px;
  width: 355px;
  font-size: 17px;
  padding-left: 10px;
  border: 1px solid rgba(169, 169, 169, 0.447);
  border-radius: 3px;
}

.user-form-bio{
  height: 60px;
  width: 355px;
  font-size: 17px;
  padding-left: 10px;
  border: 1px solid rgba(169, 169, 169, 0.447);
  border-radius: 3px
}

.form-description-text{
  width: 355px;
}

.user-pfp-user-edit-form{
  width: 40px;
  border-radius: 20px ;
}
