.navBarDiv2{
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 45px;
    align-items: center;
    justify-content: flex-end;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo-link {
    /* border: 1px solid red; */
    width: 95px;
    height: 44px;
    background-image: url("../../../../images/Bobogram-Fish-Logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.navBarDiv1{
    /* border: 1px solid seagreen; */
    display: flex;
    flex-direction: row;
}

.logo-dropdown-arrow{
    height: 10px;
    width: 10px;
    background-image: url("../../../../images/down-arrow.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.logo-dropdown-arrow:hover{
    cursor: pointer;
}

.logo-dropdown-arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
    height: 44px;
    width: 25px;
}

.navlink {
    font-family: proxima-nova, sans-serif;
    font-size: 13px;
    color: #bbbcdb;
    text-decoration: "none";
    background-color: transparent;
    border: none;
    margin-right: 23px;
}
.explore-link {
    background-image: url("../../../../images/explore-icon1.png");
    background-size: cover;
    width: 22px;
    height: 22px;
}

.explore-link-selected {
    background-image: url("../../../../images/explore-icon1-selected.png");
    background-size: cover;
    width: 22px;
    height: 22px;
}

.home-link {
    background-image: url("../../../../images/home-icon.png");
    background-size: cover;
    width: 22px;
    height: 22px;
}

.home-link-selected {
    background-image: url("../../../../images/home-icon-selected.png");
    background-size: cover;
    width: 22px;
    height: 22px;
}

.likes-link {
    background-image: url("../../../../images/heart.png");
    background-size: cover;
    width: 25px;
    height: 22px;
}

.likes-link-selected {
    background-image: url("../../../../images/heart-selected.png");
    background-size: cover;
    /* opacity: 100%; */
    width: 25px;
    height: 22px;
}

.create-link {
    background-image: url("../../../../images/create-icon.png");
    background-size: cover;
    width: 22px;
    height: 22px;
}

.create-link-selected {
    background-image: url("../../../../images/create-icon-selected.png");
    background-size: cover;
    width: 22px;
    height: 22px;
}

.messages-link {
    background-image: url("../../../../images/message-icon.png");
    background-size: cover;
    width: 22px;
    height: 22px;
}

.messages-link-selected {
    background-image: url("../../../../images/message-icon-selected.png");
    background-size: cover;
    width: 22px;
    height: 22px;
}

.entire-navBar{
    display: flex;
    justify-content: center;
    padding: 7px 0px;
    border-bottom: 1px solid rgba(175, 175, 175, 0.415);
}

.navBarWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 930px;
}

.profile-icon {
    background-size: cover;
    background-position: center;
    background-repeat: none;
    height: 24px;
    width: 24px;
    margin-right: 0;
    float: left;
}

.profile-container:hover .user-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 15px;
    background-color: #f1f3ff;
    float: left;
}

.user-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 15px;
    background-color: #65678e;
    float: left;
}

.navlink-container {
    text-decoration: none;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    box-shadow: 0 0 4px 5px rgba(191, 191, 191, 0.135);
    border-radius: 4px;
    background-color: white;
    min-width: 150px;
    width: 230px;
    top: 27px;
    right: -22px;
    gap: 3px;
    z-index: 1000;
}

.dropdown-button {
    display: flex;
    align-items: center ;
    margin-left: 15px;
    text-decoration: none;
    margin-bottom: 12px;
    color: black;
}

.dropdown-button-text {
    font-size: 14.5px;
    margin-left: 13px;
    text-decoration: none;
}

.usermenu-profile-icon{
    width: 15px;
    height: 15px;
    background-image: url('../../../../images/usermenu-profile-icon.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.usermenu-saved-icon{
    width: 15px;
    height: 15px;
    background-image: url('../../../../images/usermenu-saved-icon.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.usermenu-settings-icon{
    width: 15px;
    height: 15px;
    background-image: url('../../../../images/usermenu-settings-icon.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.usermenu-switch-icon{
    width: 15px;
    height: 15px;
    background-image: url('../../../../images/usermenu-switch-icon.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.profile-btn{
    margin-top: 12px;
}

.switch-btn{
    margin-bottom: 8px;
}

.dropdown-logout-button{
    border-top: 1px solid rgba(178, 178, 178, 0.536);
}

.dropdown-logout-button:hover{
    cursor: pointer;
}
