/* .navBarWrapper{
  position: relative;
}
.navBarDiv1, .navBarDiv2{
  position: absolute;
} */

.navBarDiv2{
    margin-left: 20vw;
    margin-right: 3.5vw;
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 45px;
    align-items: center;
    justify-content: end;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo-link {
    width: 60px;
    height: 40px;
    background-image: url("../../../../images/sleepin-cat.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.logo-link:hover {
    width: 60px;
    height: 40px;
    background-image: url("../../../../images/sleepin-cat-animated.gif");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation-fill-mode: forwards;
}

.navlink {
    font-family: proxima-nova, sans-serif;
    font-size: 13px;
    /* font-style: bold; */
    color: #bbbcdb;
    text-decoration: "none";
    background-color: transparent;
    border: none;
    margin-right: 23px;
}
.explore-link {
    background-image: url("../../../../images/explore-icon1.png");
    background-size: cover;
    /* opacity: 100%; */
    width: 22px;
    height: 22px;
}

.explore-link-selected {
    background-image: url("../../../../images/explore-icon1-selected.png");
    background-size: cover;
    width: 22px;
    height: 22px;
}

/* .home-link {
    background-image: url("../../../../images/home-icon-transparent.png");
    background-size: cover;
    width: 22px;
    height: 22px;
} */

.home-link {
    background-image: url("../../../../images/home-icon.png");
    background-size: cover;
    /* opacity: 100%; */
    width: 22px;
    height: 22px;
}

.home-link-selected {
    background-image: url("../../../../images/home-icon-selected.png");
    background-size: cover;
    width: 22px;
    height: 22px;
}

.likes-link {
    background-image: url("../../../../images/heart.png");
    background-size: cover;
    /* opacity: 100%; */
    width: 25px;
    height: 22px;
}

.likes-link-selected {
    background-image: url("../../../../images/heart-selected.png");
    background-size: cover;
    /* opacity: 100%; */
    width: 25px;
    height: 22px;
}

/* .create-link {
    background-image: url("../../../../images/create-icon-transparent.png");
    background-size: cover;
    width: 22px;
    height: 22px;
} */

.create-link {
    background-image: url("../../../../images/create-icon.png");
    background-size: cover;
    width: 22px;
    height: 22px;
}

.create-link-selected {
    background-image: url("../../../../images/create-icon-selected.png");
    background-size: cover;
    width: 22px;
    height: 22px;
}

.messages-link {
    background-image: url("../../../../images/message-icon.png");
    background-size: cover;
    width: 22px;
    height: 22px;
}

.messages-link-selected {
    background-image: url("../../../../images/message-icon-selected.png");
    background-size: cover;
    width: 22px;
    height: 22px;
}

/* .profile-link {
    background-image: url("../../../../images/profile-icon-transparent.png");
    background-size: cover;
    width: 22px;
    height: 22px;
} */

/* .profile-link:hover {
    background-image: url("../../../../images/profile-icon.png");
    background-size: cover;
    width: 22px;
    height: 22px;
} */

/* .profile-link-selected {
    background-image: url("../../../../images/profile-icon.png");
    background-size: cover;
    width: 22px;
    height: 22px;
} */

.navlink:hover, .navlink:focus {
    color: #f1f3ff;
    /* font-size: 18px; */
}

.navBarWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10%;
    border-bottom: 1px solid rgba(175, 175, 175, 0.415);
}

.profile-icon {
    background-size: cover;
    background-position: center;
    background-repeat: none;
    height: 24px;
    width: 24px;
    margin-right: 0;
    float: left;
}

.profile-container:hover .user-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 15px;
    background-color: #f1f3ff;
    float: left;
    /* margin-right: 6px; */
}

.profile-container:hover .navlink {
    color: #f1f3ff;
}

.user-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 15px;
    background-color: #65678e;
    float: left;
    /* margin-right: 6px; */
}

.navlink-container {
    text-decoration: none;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    box-shadow: 0 0 4px 5px rgba(191, 191, 191, 0.135);
    border-radius: 4px;
    background-color: white;
    /* border: 2px solid grey; */
    min-width: 150px;
    width: 230px;
    top: 27px;
    right: -22px;
    gap: 3px;
    z-index: 1000;
}

.dropdown-button {
    display: flex;
    align-items: center ;
    margin-left: 15px;
    text-decoration: none;
    margin-bottom: 12px;
    color: black;
}

.dropdown-button-text {
    font-size: 14.5px;
    margin-left: 13px;
    text-decoration: none;
}

.usermenu-profile-icon{
    width: 15px;
    height: 15px;
    background-image: url('../../../../images/usermenu-profile-icon.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.usermenu-saved-icon{
    width: 15px;
    height: 15px;
    background-image: url('../../../../images/usermenu-saved-icon.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.usermenu-settings-icon{
    width: 15px;
    height: 15px;
    background-image: url('../../../../images/usermenu-settings-icon.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.usermenu-switch-icon{
    width: 15px;
    height: 15px;
    background-image: url('../../../../images/usermenu-switch-icon.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.profile-btn{
    margin-top: 12px;
}

.switch-btn{
    margin-bottom: 8px;
}

.dropdown-logout-button{
    border-top: 1px solid rgba(178, 178, 178, 0.536);
}
